{% extends "layout.html" %}

{% block head %}
<!--    <meta id="solutionData" data-solution="{{ solution }}"></meta>-->
{% endblock %}

{% block style1 %}
<style>
    #solveBtn {
        margin-bottom: 10px;
        margin-left: 10px;
        height: 40px;
        border-radius: 10px;
    }
    #userInput {
        padding: 5px;
        font-size: 25px;
        min-height: 35px;
        width: 800px;
        border-radius: 10px;
        margin-bottom: 5px;
    }

    #liveSolveSolutionContainer {
        display: none;
        /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
        font-family: "Times New Roman", Symbola, serif;
        font-weight: 500;
        font-size: 23px;
        background-color: rgba(226, 226, 226, 0.45);
        border-radius: 15px;
        padding: 20px;
        overflow-y: hidden;
        overflow-x: auto;
    }
</style>
{% endblock %}


{% block subject_features %}
<div>$ $</div>
<label class="inputLabel" for="userInput">Enter Algebra Problem:</label>

<div class="sf-container">
    <p><span id="userInput"></span></p>
    <button id="solveBtn" type="button" class="btn btn-primary">Solve</button>
</div>

<div class="suggestions-container">
<!--    <div class="suggestion-item">$ x^{2}+5x^{2}+3x+2+4 $</div>-->
<!--    <hr>-->
<!--    <div class="suggestion-item">$ 9x+2x+10+2 $</div>-->
<!--    <hr>-->
<!--    <div class="suggestion-item">$ \displaystyle \ \text{combine} \ \frac{1}{1+x}+\frac{3}{1+x} $</div>-->
<!--    <hr>-->


</div>


<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="liveSolveRadioBtn">
    <label class="form-check-label inputLabel" for="liveSolveRadioBtn">
        Live Solve
    </label>
</div>
<br>
<div id="liveSolveSolutionContainer"></div>


{% endblock %}

{% block script1 %}

<script>

    document.addEventListener('DOMContentLoaded', () => {
        var MQ = MathQuill.getInterface(2)
        var config = {
            spaceBehavesLikeTab: false,
            leftRightIntoCmdGoes: 'up',
            restrictMismatchedBrackets: true,
            sumStartsWithNEquals: true,
            supSubsRequireOperand: true,
            charsThatBreakOutOfSupSub: '=',
            autoSubscriptNumerals: true,
            autoCommands: 'pi theta sqrt sum int',
            autoOperatorNames: 'sin cos tan sinh cosh tanh arcsin arccos arctan ln log csc sec cot',
            maxDepth: 10,
        }

        var userInput = document.getElementById('userInput');

        var answerMathField = MQ.MathField(userInput, config, {
            handlers: {
                edit: function() {},
                upOutOf: function(mathField) {},
                moveOutOf: function(dir, mathField) {
                    if (dir === MQ.L) {

                    }
                    else {

                    }
                },
                enter: function () {
                    alert('enter')
                }
            }
        });


        // answerMathField.write('\\wp')
        // answerMathField.latex('\\left\\{ \\right\\}')
        // answerMathField.typedText('cartesian product ')

        LayoutUI.loadDefaultOptions('algebra');

        /* ON-KEY UP EVENTS */

        // UserInput
        document.querySelector('#userInput').addEventListener('keyup', function(e) {
            let enteredMath = answerMathField.latex(); // Get entered math in LaTeX format
            let liveSolveRadioBtn = document.querySelector('#liveSolveRadioBtn');
            let liveSolveSolutionsContainer = document.querySelector('#liveSolveSolutionContainer');
            const suggestionContainer = document.querySelector('.suggestions-container');

            let selectedTopic = LayoutUI.getSelectedTopic();
            let subjectAndTopic = {'subject': 'algebra', 'selectedTopic': selectedTopic};

            // Suggestions
            if (!([37, 38, 39, 40].includes(e.keyCode)) && !(liveSolveRadioBtn.checked)) {
                // DO NOT CHANGE SUGGESTIONS IF ARROW KEYS ARE PRESSED
                if (!(enteredMath === '')) {
                    suggestionContainer.style.display = 'block'

                    const allTopics = SubjectTabsUI.getSubjectTopics()['algebra'];
                    const allExamples = [];
                    allTopics.forEach((topic) => {
                        const examples = ApplicationContent.getExamples('Algebra', replaceAll(topic, '-', ' '), null, true);
                        allExamples.push(...examples);
                    })
                    enteredMath = enteredMath.replace('combine', '\\text{combine}');
                    enteredMath = enteredMath.replace('simplify', '\\text{simplify}');
                    enteredMath = enteredMath.replace('expand', '\\text{expand}');
                    enteredMath = enteredMath.replace('graph', '\\text{graph}')

                    const suggestionsRequest = new XMLHttpRequest();
                    suggestionsRequest.open('POST', `/getSuggestions`);
                    suggestionsRequest.onload = () => {
                        const allSuggestions = JSON.parse(suggestionsRequest.responseText);

                        // ADD SUGGESTIONS TO DOM
                        const suggestionsContainer = document.querySelector('.suggestions-container');
                        suggestionsContainer.innerHTML = '';
                        allSuggestions.forEach((suggestion) => {
                            const suggestionItem = document.createElement('div');
                            suggestionItem.className = 'suggestion-item';
                            suggestionItem.dataset.suggestionContent = suggestion;
                            StepsUI.addLatexToElement(suggestionItem, `\\displaystyle\\ ${suggestion}`);
                            suggestionsContainer.appendChild(suggestionItem)
                            suggestionsContainer.innerHTML += `<hr>`
                        })

                        // ADD EVENT LISTENER
                        document.querySelectorAll('.suggestion-item').forEach((suggestion) => {
                            suggestion.addEventListener('click', (e) => {
                                let suggestionItem = e.target;
                                while (suggestionItem.className !== 'suggestion-item') {
                                    suggestionItem = suggestionItem.parentElement;
                                }
                                let suggestionContent = suggestionItem.dataset.suggestionContent;
                                if (suggestionContent.includes('\\text')) {
                                    let keyword = suggestionContent.split(' ')[0].replaceAll('\\', '').replace('{', '').replace('}', '').replace('text', '')
                                    let content = suggestionContent.split(' ')[1]
                                    suggestionContent = `${keyword}\\ ${content}`
                                }
                                // ADD STEPS TO DOM
                                const SU = new StepsUI();
                                SU.addStepsToDOM(suggestionContent, false, false, true, 'algebra');
                                // ADD EXPRESSION TO USER INPUT
                                answerMathField.latex(suggestionContent)
                                // REMOVE SUGGESTIONS
                                suggestionContainer.style.display = 'none'
                                // SCROLL TO TOP
                                window.scroll({
                                    top: 500,
                                    left: 0,
                                    behavior: 'smooth'
                                });

                            })
                        })

                    }
                    const data = new FormData;
                    data.set('enteredMath', enteredMath);
                    data.set('allExamples', JSON.stringify(allExamples));
                    suggestionsRequest.send(data);
                }
                else {
                    suggestionContainer.style.display = 'none'
                }


            }

            // Live Solve
            if (liveSolveRadioBtn.checked === true && enteredMath !== '') {
                const request = new XMLHttpRequest()
                request.open('POST', '/solve/false/true')
                request.onload = () => {
                    if (request.status === 200) {
                        let response = request.responseText;
                        response = JSON.parse(response);
                        if (response.message === 'solved') {
                            solution = response.content;
                            StepsUI.addLatexToElement(liveSolveSolutionsContainer, `\\displaystyle =${solution['finalResult']}`);
                            this.style.borderColor = '';
                        }
                        else {
                            this.style.borderColor = 'red';
                        }
                        
                    }

                }

                const data = new FormData()
                data.set('userInput', enteredMath)
                data.set('subjectAndTopic', JSON.stringify(subjectAndTopic))
                request.send(data)
            }
            if (enteredMath === '') {
                liveSolveSolutionsContainer.textContent = ''
                this.style.borderColor = ''
            }
        })
        document.querySelector('#userInput').addEventListener('focusout', function() {
            setTimeout(() => {
                document.querySelector('.suggestions-container').style.display = 'none'
            }, 300)

        })

        /* ON-CLICK EVENTS */

        // Symbol Buttons
        document.querySelectorAll('.symbol-btn').forEach((btn) => {
            btn.addEventListener('click', () => {
                let latexToAdd = btn.dataset.latex
                answerMathField.write(latexToAdd)
            })
        })
        // Sidebar
        document.querySelector('#sidebar').addEventListener('click', (e) => {

            if (e.target.className === 'topic-extension-item') {

                // let mainTopic = e.target.parentElement.parentElement.parentElement.previousElementSibling.textContent
                let mainTopic = e.target.parentElement.parentElement.parentElement.id;
                mainTopic = replaceAll(replaceAll(mainTopic.trim(), '\\n', ''), '+ ', '').trim();
                let topicExtension = e.target.textContent;

                switch (mainTopic) {
                    case 'Basic-Operations':
                        switch (topicExtension) {

                        }
                        break
                    case 'Equations':
                        switch (topicExtension) {
                            case 'Linear':
                                answerMathField.latex('mx+b=c')
                                break
                            case 'Quadratic':
                                answerMathField.latex('ax^2 + bx + c = 0')
                                break
                            case 'Logarithmic':
                                answerMathField.latex('\\log_{b}\\left(ax\\right)=c')
                                break
                            case 'Exponential':
                                answerMathField.latex('a^{x}=c')
                                break
                        }
                        break
                    case 'Summation':
                        switch (topicExtension) {
                            case 'Single Summation':
                                answerMathField.latex('\\sum_{i=1}^{}\\left( \\right)')
                                break
                            case 'Double Summation':
                                answerMathField.latex('\\sum_{i=1}^{}\\sum_{j=1}^{}\\left( \\right)')
                                break
                            case 'Triple Summation':
                                answerMathField.latex('\\sum_{i=1}^{}\\sum_{j=1}^{}\\sum_{k=1}^{}\\left( \\right)')
                        }
                        break
                    case 'Pi-Product-Notation':
                        switch (topicExtension) {
                            case 'Single Product':
                                answerMathField.latex('\\prod_{i=1}^{}\\left( \\right)')
                                break
                            case 'Double Product':
                                answerMathField.latex('\\prod_{i=1}^{}\\prod_{j=1}^{}\\left( \\right)')
                                break
                            case 'Triple Product':
                                answerMathField.latex('\\prod_{i=1}^{}\\prod_{j=1}^{}\\prod_{k=1}^{}\\left( \\right)')

                        }
                        break
                    case 'Polynomials':
                        switch (topicExtension) {
                            case 'Properties':
                                answerMathField.latex('properties\\ f(x)=')
                                break
                            case 'Add':
                                answerMathField.latex('\\left( \\right) + \\left( \\right)')
                                break
                            case 'Subtract':
                                answerMathField.latex('\\left( \\right) - \\left( \\right)')
                                break
                            case 'Multiply':
                                answerMathField.latex('\\left( \\right) \\cdot \\left( \\right)')
                                break
                            case 'Divide':
                                answerMathField.latex('\\frac{}{}')
                                break
                            case 'Factor':
                                answerMathField.latex('factor\\ f(x)=')
                                break
                        }
                        break
                    case 'Rational-Expressions':
                        switch (topicExtension) {
                            case 'Add':
                                answerMathField.latex('\\frac{}{}+\\frac{}{}')
                                break
                            case 'Subtract':
                                answerMathField.latex('\\frac{}{}-\\frac{}{}')
                                break
                            case 'Multiply':
                                answerMathField.latex('\\frac{}{}\\cdot\\frac{}{}')
                                break
                            case 'Divide':
                                answerMathField.latex('\\frac{\\frac{}{}}{\\frac{}{}}')
                                break
                            case 'LCM':
                                answerMathField.latex('lcm\\ \\frac{}{},\\frac{}{}')
                                break
                            case 'Reduce':
                                answerMathField.latex('reduce\\ \\frac{}{}')
                                break
                            case 'Rationalize':
                                answerMathField.latex('rationalize\\ \\frac{}{}')
                                break
                        }
                }
            }
        })

        // Solve Button
        document.querySelector('#solveBtn').addEventListener('click', () => {
            const SU = new StepsUI();
            let enteredMath = answerMathField.latex();

            SU.addStepsToDOM(enteredMath, false, false, true, 'algebra');
        })

        // Live Solve Button
        document.querySelector('#liveSolveRadioBtn').addEventListener('click', function()  {
            let solveBtn = document.querySelector('#solveBtn')
            let resultsContainer = document.querySelector('.results-container')
            let liveSolveSolutionContainer = document.querySelector('#liveSolveSolutionContainer')


            if (this.checked) {
                solveBtn.style.display = 'none'
                resultsContainer.style.display = 'none'
                liveSolveSolutionContainer.style.display = 'block'
            }
            else {
                solveBtn.style.display = 'block'
                resultsContainer.style.display = 'block'
                liveSolveSolutionContainer.style.display = 'none'
            }
        })

    })



</script>

{% endblock %}