{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block style %}
	<style>
		#mainHeading {
			text-align: center;
	        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	        font-size: 35px;
	        font-weight: 500;
		}
		#changelogSubHeading {
			color: #828580;
			font-weight: 700;
		}
		.main-container {
			height: auto;
			/*border: 2px solid #e0dddd;*/
			border-radius: 10px;
			margin: auto;
			margin-top: 100px;
			width: 60%;
		}
		.changelog-container {
			border-radius: 15px;
			padding: 5px;
			box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
			height: 350px;
			overflow-y: scroll;
		}
		.changelog-item {
			/*margin-bottom: 15px;*/
			cursor: pointer;
		}
		.changelog-date {
			color: #828580;
		}
		.feature-icon, .bug-icon {
			height: 40px;
			width: 40px;
		}
		.modal-content {
			/*text-align: center;*/
			padding: 10px;
			border: none;
			border-radius: 10px;
			/*width: 600px;*/
		}
		.changelog-modal-date {
			font-size: 17px;
			font-weight: bold;
		}
		.changelog-new-heading, .changelog-improved-heading {
			opacity: 0.7;
			color: white;
			text-align: center;
			font-weight: bold;
			border-radius: 5px;
			height: auto;
		}
		.changelog-new-heading {
			background-color: #1d9e11;
			width: 40px;
		}
		.changelog-improved-heading {
			background-color: #126ec9;
			width: 72px;
		}
		a, a:focus, a:active {
		      text-decoration: none;
		      color: inherit;
		}
		/* Disable scroll  */
		html, body {margin: 0; height: 100%; overflow: hidden} 

		
	</style>
{% endblock %}

{% block body %}
	<div class="main-container">
		<div id="mainHeading">Changelog</div>
		<div id="changelogSubHeading">Release notes for new features and bug fixes</div>
		<hr>
		<div class="changelog-container">

			<!-- <a href="#changelogModal" class="nav-link edit" data-toggle="modal">
				<div class="changelog-item">
					<img class="feature-icon mr-3" src="/static/img/computer.svg" align="left">
					<div class="changelog-heading">Agent Release v0.4.5 - Update Required</div>
					<div class="changelog-date">January 20, 2016</div>
				</div>
			</a>

			<a href="#changelogModal" class="nav-link edit" data-toggle="modal">
				<div class="changelog-item">
					<img class="bug-icon mr-3" src="/static/img/bug.svg" align="left">
					<div class="changelog-heading">Broader Detection of Attacks</div>
					<div class="changelog-date">January 20, 2016</div>
				</div>
			</a> -->

		</div>
	</div>

	<div id="changelogModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <h2 id="changelogModalHeading" class="mb-3">Agent Release v0.4.5 - Update Required</h2>
                <div class="changelog-modal-date mb-2">October 27, 2014</div>
                <div class="changelog-new-heading">New</div>
                <ul id="newList">
                	<li>Boards cna now be edited or deleted</li>
                	<li>Feedback can be deleted by Board owner</li>
                	<li>Welcome and notification emails</li>
                </ul>
                <div class="changelog-improved-heading">Improved</div>
                	<ul id="improvedList">
                		<li>Changelog items are grouped by week in which they were added</li>
                		<li>Search now indexes tags</li>
                	</ul>
                </div>
            </div>
        </div>
    </div>
	
{% endblock %}

{% block script %}
	<script>
		class ChangelogUI {
			static displayChangelog() {
				const changelog = [
					{
						'type': 'feature',
						'heading': 'Project Start',
						'date': 'June 9, 2021',
						'new': [],
						'improved': [],

					},
					{
						'type': 'feature',
						'heading': 'Implemented Basic Arimetic',
						'date': 'June 11, 2021',
						'new': [],
						'improved': [],

					},
					{
						'type': 'feature',
						'heading': 'Improved Arimetic Functionality',
						'date': 'June 18, 2021',
						'new': [],
						'improved': [],

					},
					{
						'type': 'feature',
						'heading': 'Implemented Live Solve',
						'date': 'July 20, 2021',
						'new': ['Expressions can now be solved in real time without viewing steps.'],
						'improved': [],

					},
					{
						'type': 'feature',
						'heading': 'Implemented Radicals',
						'date': 'September 24, 2021',
						'new': ['Radical expressions can now be simplified'],
						'improved': [],

					},
					{
						'type': 'feature',
						'heading': 'Implemented Subject Tabs',
						'date': 'September 25, 2021',
						'new': ['Added UI for selecting different subjects'],
						'improved': [],

					},
					{
						'type': 'feature',
						'heading': 'Improved Subject Tabs',
						'date': 'October 4, 2021',
						'new': ['Subject options can now be selected by hovering over subject tabs', 'Subject tabs are now more dynamic'],
						'improved': [],

					},
					{
						'type': 'feature',
						'heading': 'Implemented Sidebar',
						'date': 'October 13, 2021',
						'new': ['A sidebar has now been added which allows users to navigate the different features of each subject'],
						'improved': [],
					},
					{
						'type': 'feature',
						'heading': 'Improved Sidebar',
						'date': 'October 15, 2021',
						'new': [],
						'improved': ['Redesigned sidebar buttons'],

					},
					{
						'type': 'feature',
						'heading': 'Implemented Symbol Buttons',
						'date': 'October 17, 2021',
						'new': ['A container of buttons have been added which allow users to add various symbols to the input field.'],
						'improved': [],

					},
					{
						'type': 'fix',
						'heading': 'Tweaked Sidebar',
						'date': 'October 20, 2021',
						'new': ['Added UI for Discrete Math Set Theory.'],
						'improved': ['Sidebar UI has been tweaked slightly'],

					},
					{
						'type': 'feature',
						'heading': 'Steps UI Have Been Improved',
						'date': 'October 31, 2021',
						'new': [],
						'improved': ['Steps UI have been redesigned', 'Expandable steps have been added', 'Expandable steps can be nested'],

					},
					{
						'type': 'feature',
						'heading': 'Implemented New Algorithm for Simplifying Expressions',
						'date': 'November 18, 2021',
						'new': ['Algebraic expressions can now be simplified'],
						'improved': ['Logic for simplifying expressions'],

					},
					{
						'type': 'fix',
						'heading': 'Improved Simplification Logic',
						'date': 'December 4, 2021',
						'new': ['Numerical radical computation', 'Removed e-steps for one step problems', 'Added more logic to further simplify radicals'],
						'improved': ['Generalized square root functionality to nth roots'],

					},
					{
						'type': 'fix',
						'heading': 'Live Solve Fix',
						'date': 'December 7, 2021',
						'new': [],
						'improved': ['Fixed live solve for Algebra tab'],

					},
					{
						'type': 'feature',
						'heading': 'Improved Exponentials',
						'date': 'December 28, 2021',
						'new': ['Simplify nested exponentials', 'Exponentials can now be added'],
						'improved': ['Simplify exponentials', 'Compute exponentials', 'Large numbers from exponential computation'],

					},
					{
						'type': 'feature',
						'heading': 'Implemented Fractions',
						'date': 'February 10, 2022',
						'new': ['Fractions can now be simplified and combined.'],
						'improved': [],

					},
					{
						'type': 'feature',
						'heading': 'Implemented Multiplication',
						'date': 'February 15, 2022',
						'new': ['Basic multiplications can now be computed.'],
						'improved': [],

					},
					{
						'type': 'fix',
						'heading': 'Fixes To Multiplication',
						'date': 'March 4, 2022',
						'new': [],
						'improved': ['Multiplication logic'],

					},
					{
						'type': 'feature',
						'heading': 'Implemented Login and Sign Up',
						'date': 'March 14, 2022',
						'new': ['User can now sign up and login to their account.'],
						'improved': [],

					},
					{
						'type': 'feature',
						'heading': 'Implemented History',
						'date': 'March 17, 2022',
						'new': ['Users can now view a history of all computations made.'],
						'improved': [],

					},
					{
						'type': 'feature',
						'heading': 'Improved History',
						'date': 'March 29, 2022',
						'new': ['History items are now clickable.', 'Copy and delete buttons have been added to history items.'],
						'improved': ['Prevented user from accessing history while logged out.'],
					},
					{
						'type': 'feature',
						'heading': 'Implemented PEMDAS',
						'date': 'May 9, 2022',
						'new': ['Basic PEMDAS operations can now be performed.', 'Expressions with parentheses can now be evaluated.'],
						'improved': ['UI has been improved.']
					},
					{
						'type': 'feature',
						'heading': 'Graphing Functionality',
						'date': 'May 11, 2022',
						'new': ["Functions can now be graphed by using the 'graph' keyword."],
						'improved': []
					},
					{
						'type': 'feature',
						'heading': 'Examples Have Been Added',
						'date': 'May 24, 2022',
						'new': ['Examples can now be viewed at the bottom of the page.'],
						'improved': [],
					},
					{
						'type': 'fix',
						'heading': 'Multiplication Functionality Improved',
						'date': 'June 6, 2022',
						'new': ['Functionality for clicked history items restored.'],
						'improved': ['Expressions can now be multiplied using the distributive property.'],
					},
					{
						'type': 'feature',
						'heading': 'Special Functions Added',
						'date': 'June 16, 2022',
						'new': ["Special functions (sin cos tan etc) can now be evaluated."],
						'improved': [],
					},
					{
						'type': 'fix',
						'heading': 'Multiplication Functionality Improved',
						'date': 'June 28, 2022',
						'new': ['Fractions can now be multiplied', 'Multiple terms in parentheses can now be multiplied'],
						'improved': ['Overall multiplication functionality have been improved.']
					},
					{
						'type': 'feature',
						'heading': 'Added Suggestions',
						'date': 'July 4, 2022',
						'new': ['Added suggestions to user input.'],
						'improved': [],
					},
				]
				const changelogContainer = document.querySelector('.changelog-container');
				reverse(changelog).forEach((item) => {
					let imgSrc;
					let className;
					if (item['type'] === 'feature') {
						imgSrc = '/static/img/computer.svg';
						className = 'feature-icon mr-3';
					}
					else {
						imgSrc = '/static/img/bug.svg';
						className = 'bug-icon mr-3';
					}
					changelogContainer.innerHTML += `
						<a href="#changelogModal" class="nav-link edit" data-toggle="modal">
							<div class="changelog-item" data-heading="${item.heading}" data-date="${item.date}" data-new="${item.new}" data-improved="${item.improved}">
								<img class="${className}" src="${imgSrc}" align="left">
								<div class="changelog-heading">${item['heading']}</div>
								<div class="changelog-date">${item['date']}</div>
							</div>
						</a>
					`
				})
				// Add event listeners
				document.querySelectorAll('.changelog-item').forEach((item) => {
					item.addEventListener('click', () => {
						console.log(item);
						const changelogModalHeading = document.querySelector('#changelogModalHeading');
						const changelogModalDate = document.querySelector('.changelog-modal-date');
						const newList = document.querySelector('#newList');
						const improvedList = document.querySelector('#improvedList');

						/* Update changelog modal */
						const newItems = item.dataset.new.split(',');
						const improvedItems = item.dataset.improved.split(',');

						changelogModalHeading.innerHTML = item.dataset.heading;
						changelogModalDate.innerHTML = item.dataset.date;

						newList.innerHTML = '';
						improvedList.innerHTML = '';
						
						newItems.forEach((item1) => {
							if (item1 !== '') newList.innerHTML += `<li>${item1}</li>`;
						});
						improvedItems.forEach((item2) => {
							if (item2 !== '') improvedList.innerHTML += `<li>${item2}</li>`;
						});

					})
				})



			}
		}

		document.addEventListener('DOMContentLoaded', () => {
			ChangelogUI.displayChangelog();
		})

		

		function reverse(array) {
			const newArray = [];
			let i = array.length-1;
			while (i >= 0) {
				newArray.push(array[i]);
				i --;
			}
			return newArray
		} 
		
	</script>
{% endblock %}	