{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block style1 %}
<style>
    #solveBtn {
        margin-bottom: 10px;
    }
    #userInput {
        padding: 5px;
        font-size: 25px;
        min-height: 35px;
        width: 800px;
        border-radius: 10px;
        margin-bottom: 5px;
    }

    #liveSolveSolutionContainer {
        display: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: rgba(226, 226, 226, 0.45);
        border-radius: 15px;
        padding: 20px;

    }




</style>
{% endblock %}


{% block subject_features %}
<div>$ $</div>
<label class="inputLabel" for="userInput">Enter Discrete Problem:</label>
<p><span id="userInput"></span></p>
<button id="solveBtn" type="button" class="btn btn-primary">Solve</button>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="liveSolveRadioBtn">
    <label class="form-check-label inputLabel" for="liveSolveRadioBtn">
        Live Solve
    </label>
</div>
<br>

<div id="liveSolveSolutionContainer"></div>
{% endblock %}

{% block script1 %}

<script>


    document.addEventListener('DOMContentLoaded', () => {
        var MQ = MathQuill.getInterface(2)
        var config = {
            spaceBehavesLikeTab: false,
            leftRightIntoCmdGoes: 'up',
            restrictMismatchedBrackets: true,
            sumStartsWithNEquals: true,
            supSubsRequireOperand: true,
            charsThatBreakOutOfSupSub: '=',
            autoSubscriptNumerals: true,
            autoCommands: 'pi theta sqrt sum int',
            autoOperatorNames: 'sin cos tan sinh cosh tanh arcsin arccos arctan ln log csc sec cot',
            maxDepth: 10,
        }

        var userInput = document.getElementById('userInput');

        var answerMathField = MQ.MathField(userInput, config, {
            handlers: {
                edit: function() {},
                upOutOf: function(mathField) {},
                moveOutOf: function(dir, mathField) {
                    if (dir === MQ.L) {

                    }
                    else {

                    }
                },
                enter: function () {
                    alert('enter')
                }
            }
        });

        // answerMathField.write('\\wp')
        // answerMathField.latex('\\left\\{ \\right\\}')
        // answerMathField.typedText('cartesian product ')

        BaseUI.loadDefaultOptions('discreteMath')

        /* ON-KEY UP EVENTS */

        // UserInput
        document.querySelector('#userInput').addEventListener('keyup', function() {
            let enteredMath = answerMathField.latex(); // Get entered math in LaTeX format
            let liveSolveRadioBtn = document.querySelector('#liveSolveRadioBtn')
            let liveSolveSolutionsContainer = document.querySelector('#liveSolveSolutionContainer')
            if (liveSolveRadioBtn.checked === true && enteredMath !== '') {
                const request = new XMLHttpRequest()
                request.open('POST', '/solve/true')
                request.onload = () => {
                    if (request.status === 200) {
                        let solution = request.responseText
                        if (solution !== 'Unable To Solve') {
                            StepsUI.addLatexToElement(liveSolveSolutionsContainer, solution)
                        }
                        else {
                            liveSolveSolutionsContainer.textContent = 'Unable To Solve'
                        }
                    }
                }

                const data = new FormData()
                data.set('userInput', enteredMath)
                request.send(data)
            }
        })

        /* ON-CLICK EVENTS */

        // Symbol Buttons
        document.querySelectorAll('.symbol-btn').forEach((btn) => {
            btn.addEventListener('click', () => {
                let latexToAdd = btn.dataset.latex
                answerMathField.write(latexToAdd)
            })
        })
        // Sidebar
        document.querySelector('#sidebar').addEventListener('click', (e) => {
            // console.log(e.target)
            // console.log(e.target.classList.contains('topics-btn'))

            if (e.target.className === 'topic-extension-item') {
                // console.log(e.target.parentElement.parentElement.parentElement.previousElementSibling.textContent)
                let mainTopic = e.target.parentElement.parentElement.parentElement.previousElementSibling.textContent
                mainTopic = replaceAll(replaceAll(mainTopic.trim(), '\\n', ''), '+ ', '').trim()
                console.log(mainTopic === 'Set Theory')
                let topicExtension = e.target.textContent

                switch (mainTopic) {
                    case 'Propositional Logic':
                        switch (topicExtension) {

                        }
                        break
                    case 'Set Theory':
                        switch (topicExtension) {
                            case 'Cartesian Product':
                                answerMathField.latex('\\left\\{ \\right\\} \\times \\left\\{ \\right\\}')
                                break
                            case 'Power Sets':
                                answerMathField.latex('\\wp \\left( \\right)')
                                break
                            case 'Intersection':
                                answerMathField.latex('\\left\\{ \\right\\} \\cap \\left\\{ \\right\\}')
                                break
                            case 'Union':
                                answerMathField.latex('\\left\\{ \\right\\} \\cup \\left\\{ \\right\\}')
                                break
                            case 'Difference':
                                answerMathField.latex('\\left\\{ \\right\\} - \\left\\{ \\right\\}')
                                break
                            case 'Symmetric Difference':
                                answerMathField.latex('\\left\\{ \\right\\} \\triangle \\left\\{ \\right\\}')
                                break
                            case 'Computer Representation':
                                answerMathField.latex('U=\\left\\{ \\right\\} A=\\left\\{ \\right\\}')
                                break
                        }
                        break
                    case 'Induction':
                        switch (topicExtension) {

                        }
                        break
                    case 'Number Theory':
                        switch (topicExtension) {
                            case 'Division Algorithm':
                                answerMathField.latex('\\frac{a}{d}')
                                break
                            case 'Euclidean Algorithm':
                                answerMathField.latex('gcd \\ (a,b)')
                                break
                            case 'Arithmetic Modulo m':
                                answerMathField.latex('{a+}_{m}b')
                                break
                            case 'Modular Exponentiation':
                                answerMathField.latex('b^{n} \\ mod \\ m')
                                break
                            case 'Congruences':
                                answerMathField.latex('a \\equiv b \\ (mod \\ m)')
                                break
                        }
                        break
                    case 'Relations':
                        switch (topicExtension) {
                            case 'Properties':
                                answerMathField.latex('R = \\left\\{ \\right\\}')
                                break
                            case 'Combining Relations':
                                answerMathField.latex('\\left\\{ \\right\\} \\cup \\left\\{ \\right\\}')
                                break
                        }
                        break
                }
            }
        })

        // Solve Button
        document.querySelector('#solveBtn').addEventListener('click', () => {
            let enteredMath = answerMathField.latex()
            let resultsContainer = document.querySelector('.results-container')
            // Clear previous work
            resultsContainer.innerHTML = `
                <div id="finalSolutionHeading"></div>
                <div class="steps-heading">Steps</div>
                <div class="steps-container"></div>
            `

            let selectedTopic = BaseUI.getSelectedTopic()
            let subjectAndTopic = {'subject': 'discreteMath', 'selectedTopic': selectedTopic}

            const request = new XMLHttpRequest()
            request.open('POST', `/solve/false`)
            request.onload = () => {
                if (request.status === 200) {
                    let solution = request.responseText
                    if (solution !== 'Unable To Solve') {
                        let Steps = JSON.parse(solution)['steps']
                        let finalResult = JSON.parse(solution)['finalResult']
                        let stepsContainer = document.querySelector('.steps-container')

                        let e_step_id = 1
                        Steps.forEach((step) => {
                            if (step['type'] === 'main-step') {
                                StepsUI.displayStep(stepsContainer, step, 'main-step')
                            } else if (step['type'] === 'e-step') {
                                StepsUI.displayStep(stepsContainer, step, 'e-step', e_step_id)
                                let num_e_steps_added = document.querySelectorAll('.expandable-step-container').length
                                e_step_id = num_e_steps_added + 1
                            }
                        })
                        stepsContainer.innerHTML += `<div class="final-step"></div>`
                        StepsUI.addLatexToSteps(finalResult, enteredMath)
                        StepsUI.makeStepsExpandable()
                    } else {

                    }
                }
            }
            const data = new FormData()
            data.set('userInput', enteredMath)
            data.set('subjectAndTopic', JSON.stringify(subjectAndTopic))
            request.send(data)
        })

        // Live Solve Button
        document.querySelector('#liveSolveRadioBtn').addEventListener('click', function()  {
            let solveBtn = document.querySelector('#solveBtn')
            let resultsContainer = document.querySelector('.results-container')
            let liveSolveSolutionContainer = document.querySelector('#liveSolveSolutionContainer')


            if (this.checked) {
                solveBtn.style.display = 'none'
                resultsContainer.style.display = 'none'
                liveSolveSolutionContainer.style.display = 'block'
            }
            else {
                solveBtn.style.display = 'block'
                resultsContainer.style.display = 'block'
                liveSolveSolutionContainer.style.display = 'none'
            }
        })

    })







</script>

{% endblock %}