{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block style %}
<style>
    #solveBtn {
        margin-bottom: 10px;
    }
    #userInput {
        padding: 5px;
        font-size: 25px;
        min-height: 35px;
        width: 800px;
        border-radius: 10px;
        margin-bottom: 5px;
    }

    #liveSolveSolutionContainer {
        display: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: rgba(226, 226, 226, 0.45);
        border-radius: 15px;
        padding: 20px;

    }




</style>
{% endblock %}


{% block subject_features %}
    <label class="inputLabel" for="userInput">Enter Problem:</label>
    <p><span id="userInput"></span></p>
    <button id="solveBtn" type="button" class="btn btn-primary">Solve</button>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="liveSolveRadioBtn">
        <label class="form-check-label inputLabel" for="liveSolveRadioBtn">
            Live Solve
        </label>
    </div>
    <br>

    <div id="liveSolveSolutionContainer"></div>
{% endblock %}

{% block script %}

<script>


    document.addEventListener('DOMContentLoaded', () => {
        var MQ = MathQuill.getInterface(2)
        var config = {
            spaceBehavesLikeTab: false,
            leftRightIntoCmdGoes: 'up',
            restrictMismatchedBrackets: true,
            sumStartsWithNEquals: true,
            supSubsRequireOperand: true,
            charsThatBreakOutOfSupSub: '=',
            autoSubscriptNumerals: true,
            autoCommands: 'pi theta sqrt sum int',
            autoOperatorNames: 'sin cos tan sinh cosh tanh arcsin arccos arctan ln log csc sec cot',
            maxDepth: 10,
        }

        var userInput = document.getElementById('userInput');

        var answerMathField = MQ.MathField(userInput, config, {
            handlers: {
                edit: function() {},
                upOutOf: function(mathField) {},
                moveOutOf: function(dir, mathField) {
                    if (dir === MQ.L) {

                    }
                    else {

                    }
                },
                enter: function () {
                    alert('enter')
                }
            }
        });

        // answerMathField.write('\\int(5x+3)dx')

        /* ON-KEY UP EVENTS */

        // UserInput
        document.querySelector('#userInput').addEventListener('keyup', function() {
            let enteredMath = answerMathField.latex(); // Get entered math in LaTeX format
            let liveSolveRadioBtn = document.querySelector('#liveSolveRadioBtn')
            let liveSolveSolutionsContainer = document.querySelector('#liveSolveSolutionContainer')
            if (liveSolveRadioBtn.checked === true && enteredMath !== '') {
                const request = new XMLHttpRequest()
                request.open('POST', '/solve/false/true')
                request.onload = () => {
                    if (request.status === 200) {
                        let solution = request.responseText
                        if (solution !== 'Unable To Solve') {
                            StepsUI.addLatexToElement(liveSolveSolutionsContainer, solution)
                        }
                        else {
                            liveSolveSolutionsContainer.textContent = 'Unable To Solve'
                        }
                    }
                }

                const data = new FormData()
                data.set('userInput', enteredMath)
                request.send(data)
            }
        })

        /* ON-CLICK EVENTS */

        // Symbol Buttons
        document.querySelectorAll('.symbol-btn').forEach((btn) => {
            btn.addEventListener('click', () => {
                let latexToAdd = btn.dataset.latex
                answerMathField.write(latexToAdd)
            })
        })

        // Solve Button
        document.querySelector('#solveBtn').addEventListener('click', () => {
            let enteredMath = answerMathField.latex()
            let finalStepDiv = document.querySelector('#finalSolutionHeading')
            // console.log(enteredMath)
            let selectedTopic = LayoutUI.getSelectedTopic()
            let subjectAndTopic = {'subject': 'Algebra', 'selectedTopic': selectedTopic}

            const request = new XMLHttpRequest()
            request.open('POST', `/solve/false`)
            request.onload = () => {
                if (request.status === 200) {
                    let solution = request.responseText
                    if (solution !== 'Unable To Solve') {
                        solution = JSON.parse(solution)
                        let numSteps = Object.keys(solution).length;
                        let finalStepLatex = solution[numSteps]
                        // console.log(solution)
                        // console.log(finalStepLatex)
                        // Add final step to DOM
                        StepsUI.addLatexToElement(finalStepDiv, finalStepLatex)
                        StepsUI.displayStepsHeading()
                        // Add all steps to DOM
                        StepsUI.showAllSteps(solution, enteredMath)


                        // console.log(solution)
                        // console.log(finalStepLatex)
                    }
                    else {

                    }
                }
            }
            const data = new FormData()
            data.set('userInput', enteredMath)
            data.set('subjectAndTopic', subjectAndTopic)
            request.send(data)
        })

        // Live Solve Button
        document.querySelector('#liveSolveRadioBtn').addEventListener('click', function()  {
            let solveBtn = document.querySelector('#solveBtn')
            let resultsContainer = document.querySelector('.results-container')
            let liveSolveSolutionContainer = document.querySelector('#liveSolveSolutionContainer')


            if (this.checked) {
                solveBtn.style.display = 'none'
                resultsContainer.style.display = 'none'
                liveSolveSolutionContainer.style.display = 'block'
            }
            else {
                solveBtn.style.display = 'block'
                resultsContainer.style.display = 'block'
                liveSolveSolutionContainer.style.display = 'none'
            }
        })


    })






</script>

{% endblock %}