{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block style %}
<style>
    #solveBtn {
        margin-bottom: 10px;
    }
    #userInput {
        padding: 5px;
        font-size: 25px;
        min-height: 35px;
        width: 800px;
        border-radius: 10px;
        margin-bottom: 5px;
    }
    #finalStep {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
    }
    #liveSolveSolutionContainer {
        display: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: rgba(226, 226, 226, 0.45);
        border-radius: 15px;
        padding: 20px;

    }
    .main-container {
        margin-left: 20%;
        margin-right: 20%;
    }
    .results-container {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: rgba(226, 226, 226, 0.45);
        /*height: 500px;*/
        border-radius: 15px;
        /*font-size: 30px;*/
        padding: 20px;
    }
    .final-result {
        font-size: 20px;
    }
    .steps-heading {
        display: none;
        margin-top: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;
        font-weight: 600;
    }
    .steps-container {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        /*height: 400px;*/
    }
    .step-description {
        background-color: rgba(226, 226, 226, 0.45);
        font-family: "Times New Roman", Symbola, serif;
        font-size: 18px;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 8px;
        /*margin-top: 50px;*/
    }
    .step-info {
        margin-bottom: 15px;
    }
    .final-step {
        margin-top: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
        font-weight: 600;
    }



</style>
{% endblock %}


{% block body %}

    <div id="mainHeading">Computer Algebra</div>


    <div class="main-container">
        <label class="inputLabel" for="userInput">Enter Problem:</label>
        <p><span id="userInput"></span></p>
        <button id="solveBtn" type="button" class="btn btn-primary">Solve</button>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="liveSolveRadioBtn">
            <label class="form-check-label inputLabel" for="liveSolveRadioBtn">
                Live Solve
            </label>
        </div>
        <br>

        <div id="liveSolveSolutionContainer"></div>
        <div class="results-container">
            <div id="finalStep"></div>
            <div class="steps-heading">Steps</div>
            <div class="steps-container">
<!--                <div class="step-description">Simplify inside the brackets: $ (1+1)=2 $</div>-->
<!--                <div class="step-info">$ \left(\left(1+1\right)\cdot 2\right) = (2 \cdot 2) $</div>-->

<!--                <div class="step-description">Simplify inside the brackets: $ (2 \cdot 2)=4 $</div>-->
<!--                <div class="final-step">Solution: $ 4 $</div>-->

            </div>

        </div>
    </div>


{% endblock %}

{% block script %}

<script>
    class UI {
        static displayResult(resultText) {
            let resultContainer = document.querySelector('.results-container')
            let resultDiv = document.createElement('div')
            resultDiv.textContent = resultText
            resultContainer.appendChild(resultDiv)
        }
        static displayStepsHeading() {
            let stepsHeading = document.querySelector('.steps-heading')
            stepsHeading.style.display = 'block'
        }
        static addLatexToElement(element, latexString) {
            katex.render(String.raw`${latexString}`, element, {
                throwOnError: false
            });
        }
        static showAllSteps(solution, enteredExpression) {
            let stepsContainer = document.querySelector('.steps-container')
            let allSimplifications = extractAllSimplificationsFromSolution(solution)
            let stepCounter = 1
            console.log(allSimplifications)

            /* Clear any previous steps */
            stepsContainer.innerHTML = ''

            for (let stepNum in solution) {
                let currentStep = new Step(solution[stepNum])

                // console.log(solution[currentStep])

                if (!(currentStep.isFinalStep)) {
                    let latexStepDescriptionSpan = document.createElement('span')
                    let latexStepInfoSpan = document.createElement('span')

                    // console.log(`Description: ${step.description}`)
                    // console.log(`Result: ${step.result}`)
                    // console.log()

                    /* Create step description */
                    let stepDescriptionDiv = document.createElement('div')
                    stepDescriptionDiv.className = 'step-description'
                    stepDescriptionDiv.textContent = `${currentStep.description}: `
                    stepDescriptionDiv.appendChild(latexStepDescriptionSpan)
                    /* Create step info */
                    let stepInfoDiv = document.createElement('div')
                    stepInfoDiv.className = 'step-info'
                    stepInfoDiv.appendChild(latexStepInfoSpan)

                    /* Add step description and step info to stepsContainer */
                    stepsContainer.appendChild(stepDescriptionDiv)
                    stepsContainer.appendChild(stepInfoDiv)


                    /* Add latex */
                    UI.addLatexToElement(latexStepDescriptionSpan, currentStep.result)
                    if (stepCounter === 1) {
                        UI.addLatexToElement(latexStepInfoSpan, `${enteredExpression} = ${currentStep.simplification}`)
                    }
                    else {
                        /* Show the the previous simplification for currentStep step-info */
                        UI.addLatexToElement(latexStepInfoSpan, `${allSimplifications[stepCounter-1]} = ${allSimplifications[stepNum]}`)
                    }

                }
                else {
                    let lastStepInfoDiv = stepsContainer.lastElementChild
                    lastStepInfoDiv.className = 'final-step'
                    lastStepInfoDiv.textContent = 'Solution: '

                    let latexFinalStepSpan = document.createElement('span')

                    lastStepInfoDiv.appendChild(latexFinalStepSpan)

                    UI.addLatexToElement(latexFinalStepSpan, solution[stepCounter])

                }
                stepCounter += 1
            }

        }
        static getUserInput() {
            return document.querySelector('#userInput').value
        }

    }

    class Step {
        constructor(stepDict) {
            if (typeof stepDict === 'object' && typeof stepDict !== null) {
                this.simplification = stepDict['simplification']
                this.step = stepDict['step']
                this.isFinalStep = false
                this.description = this.step.split(': ')[0]
                this.result = this.step.split(': ')[1]

            }
            else {
                this.simplification = stepDict
                this.step = stepDict
                this.isFinalStep = true
            }
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        var MQ = MathQuill.getInterface(2)
        var config = {
            spaceBehavesLikeTab: false,
            leftRightIntoCmdGoes: 'up',
            restrictMismatchedBrackets: true,
            sumStartsWithNEquals: true,
            supSubsRequireOperand: true,
            charsThatBreakOutOfSupSub: '=',
            autoSubscriptNumerals: true,
            autoCommands: 'pi theta sqrt sum int',
            autoOperatorNames: 'sin cos',
            maxDepth: 10,
        }

        var userInput = document.getElementById('userInput');

        var answerMathField = MQ.MathField(userInput, config, {
            handlers: {
                edit: function() {},
                upOutOf: function(mathField) {},
                moveOutOf: function(dir, mathField) {
                    if (dir === MQ.L) {

                    }
                    else {

                    }
                },
                enter: function () {
                    alert('enter')
                }
            }

        });
        /* ON-KEY UP EVENTS */

        // UserInput
        document.querySelector('#userInput').addEventListener('keyup', function() {
            let enteredMath = answerMathField.latex(); // Get entered math in LaTeX format
            let liveSolveRadioBtn = document.querySelector('#liveSolveRadioBtn')
            let liveSolveSolutionsContainer = document.querySelector('#liveSolveSolutionContainer')
            if (liveSolveRadioBtn.checked === true && enteredMath !== '') {
                const request = new XMLHttpRequest()
                request.open('POST', '/solve/true')
                request.onload = () => {
                    if (request.status === 200) {
                        let solution = request.responseText
                        if (solution !== 'Unable To Solve') {
                            UI.addLatexToElement(liveSolveSolutionsContainer, solution)
                        }
                        else {
                            liveSolveSolutionsContainer.textContent = 'Unable To Solve'
                        }
                    }
                }

                const data = new FormData()
                data.set('userInput', enteredMath)
                request.send(data)
            }
        })

        /* ON-CLICK EVENTS */

        // Solve Button
        document.querySelector('#solveBtn').addEventListener('click', () => {
            let enteredMath = answerMathField.latex()
            let finalStepDiv = document.querySelector('#finalStep')
            // console.log(enteredMath)

            const request = new XMLHttpRequest()
            request.open('POST', `/solve/false`)
            request.onload = () => {
                if (request.status === 200) {
                    let solution = request.responseText
                    if (solution !== 'Unable To Solve') {
                        solution = JSON.parse(solution)
                        let numSteps = Object.keys(solution).length;
                        let finalStepLatex = solution[numSteps]
                        // console.log(solution)
                        // console.log(finalStepLatex)
                        // Add final step to DOM
                        UI.addLatexToElement(finalStepDiv, finalStepLatex)
                        UI.displayStepsHeading()
                        // Add all steps to DOM
                        UI.showAllSteps(solution, enteredMath)


                        // console.log(solution)
                        // console.log(finalStepLatex)
                    }
                    else {

                    }
                }
            }
            const data = new FormData()
            data.set('userInput', enteredMath)
            request.send(data)
        })

        // Live Solve Button
        document.querySelector('#liveSolveRadioBtn').addEventListener('click', function()  {
            let solveBtn = document.querySelector('#solveBtn')
            let resultsContainer = document.querySelector('.results-container')
            let liveSolveSolutionContainer = document.querySelector('#liveSolveSolutionContainer')


            if (this.checked) {
                solveBtn.style.display = 'none'
                resultsContainer.style.display = 'none'
                liveSolveSolutionContainer.style.display = 'block'
            }
            else {
                solveBtn.style.display = 'block'
                resultsContainer.style.display = 'block'
                liveSolveSolutionContainer.style.display = 'none'
            }
        })


    })


    /* ONCLICK EVENTS */

    function extractAllSimplificationsFromSolution(solution) {
        let allSimplifications = {}
        let i = 1
        for (let stepNum in solution) {
            allSimplifications[stepNum] = solution[stepNum]['simplification']

        }
        return allSimplifications

    }




</script>

{% endblock %}